.header{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #393e46;
    display: flex;
    direction: row;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.appImage{
    width: 2em;
    height: 2em;
}

.appName{
    margin-top: 15px;
    margin-left: 5px;
}